<a href="https://colab.research.google.com/github/jane-kirina/python_for_ds_and_ml_tasks/blob/main/module_0/topic_2/HW_4_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [ ]:
for i in range(1, 8):
  print(i)

1
2
3
4
5
6
7


---

**2. Цикл for по списку**

Дано список:

In [ ]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [ ]:
for name in names:
  print(f'Привіт, {name}!')

Привіт, Олег!
Привіт, Анна!
Привіт, Іван!
Привіт, Марія!


---

**3. Цикл з enumerate**

Дано список оцінок:

In [ ]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [ ]:
for i, grade in enumerate(grades):
  print(f'Студент {i + 1}: {grade} балів')

print('\nСтуденти з оцінкою вище 85')
for i, grade in enumerate(grades, start=1):
  if grade > 85:
    print(f'Студент {i}: {grade} балів')

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

Студенти з оцінкою вище 85
Студент 2: 92 балів
Студент 4: 95 балів
Студент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20.

In [ ]:
sum = 0

for num in range(1, 21):
    if num % 2 == 0:
        sum += num

print(f'Сума парних чисел від 1 до 20: {sum}')

Сума парних чисел від 1 до 20: 110