<a href="https://colab.research.google.com/github/jane-kirina/python_for_ds_and_ml_tasks/blob/main/folder/HW_1_variables_data_types_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [1]:
name = 'Jane'
age = 23
height = 165.00
is_student = True

print(f'My name is {name}, my age is {age}')
print(f'I have {height} tall, my status as a student is \'{is_student}\'')

My name is Jane, my age is 23
I have 165.0 tall, my status as a student is 'True'


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [2]:
var1 = 15
var2 = 4

var_sum = var1 + var2
var_diff = var1 - var2
var_production = var1 * var2
var_division = var1 / var2
var_integer_div = var1 // var2
var_remainder = var1 % var2
var_exponentiation = var1 ** var2

print(f'''
Початкові дані \'{var1}\' та \'{var2}\'. Операції:
\n Сумa: {var_sum}
\n Різниця: {var_diff}
\n Добуток: {var_production}
\n Ділення: {var_division}
\n Цілочисельне ділення: {var_integer_div}
\n Залишок від ділення: {var_remainder}
\n Піднесення до степеня: {var_exponentiation}
''')

Початкові дані '15' та '4'. Операції:

 Сумa: 19

 Різниця: 11

 Добуток: 60

 Ділення: 3.75

 Цілочисельне ділення: 3

 Залишок від ділення: 3

 Піднесення до степеня: 50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [3]:
last_name = 'Kirina'
full_name =  name + ' ' + last_name

print(f'Великими літерами: {full_name.upper()}')
print(f'Малими літерами: {full_name.lower()}')
print(f'Довджина: {len(full_name)}')
print(f'Фраза: Мене звати {name}, мені {age} років".')

Великими літерами: JANE KIRINA
Малими літерами: jane kirina
Довджина: 11
Фраза: Мене звати Jane, мені 23 років".